extends default

block content
  div.MainContent
    div.MainContent__Links
      a(href="/regression") Polynomial Regression
      a(href="https://intereact-llc.s3-ap-southeast-1.amazonaws.com/input.csv") Download Sample CSV Input
  