extends default

block content
  div.MainContent
    div.MainContent__Links
      a(href="/simplex") Minimization
      a(href="/regression") Polynomial Regression
      a(href="/qsi") Quadratic Spline Interpolation
  